html, body{
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .main-font {
    font-family: 'Righteous', cursive;
}

p, a, span, i, .sub-font {
    font-family: 'Spartan', sans-serif;
}

.f-color{
    color: #5757fd !important;
}

.bg-color {
    background-color: #5757fd !important;
}

.main-cover {
    height: 100vh;
    box-shadow: 0px 0px 25px 0px;
}

.vh100 {
    height: 100vh;
}

.main-menu {
    margin-top: 3%;
}
.main-menu-item > a{
    color: white;
}

.main-menu-item > a:hover{
    color: #f0a0a0!important;
}


.bg-white-01 {
    background-color: #f0f0f0;
}

.rrss {
    font-size: 25px;
}

.parallax-window {
    min-height: 100%;
    background: transparent;
}

.projects > p {
    font-size: small;
}

.f-l {
    font-size: large!important;
}