button[type=submit] {
    background-color: var(--color-action) !important;
    color: var(--color-background) !important;
    border-radius: 3rem !important;
    padding: 0.5rem 1rem !important;
}

button[type=submit]:hover {
    background-color: var(--color-text) !important;
}

textarea {
    min-height: 150px !important;
}